<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    th,td{
        border: 1px solid black;
    }
</style>
<body>
    <h2>All Users</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <% allUsers.forEach(user => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.first_name %></td>
                <td><%= user.email %></td>
                <td><a href="/register/update/<%= user.id %>">Update</a></td>
                <td><a href="/register/delete/<%= user.id %>">Delete</a></td>
            </tr>
        <% }) %>  
    </table>
</body>
</html>